body
    user-select: text
    font-size: 0.9rem
    line-height: 1.5
    background-color: white
    color: #222

nav, img
    user-select: none

=ellipsis
	overflow: hidden
	text-overflow: ellipsis
	line-height: 1.25

.text-left
    text-align: left
.text-center
    text-align: center
.text-right
    text-align: right

pre
    border: initial
    background-color: initial
    color: inherit
    white-space: pre-line
    word-break: break-word
    word-wrap: break-word

a
	touch-action: manipulation
	&, &:hover, &:active
		text-decoration: none

h1, h2, h3, h4, h5, h6, p
    margin: .5rem 0
    font-weight: 300
    line-height: 1.2
    font-family: inherit
    color: inherit

p
    user-select: text
    margin-bottom: 1rem
