@import ../../nootstrap/sass/nootstrap
@import animation

+scrollbar(12px, $blue, $darkgrey)

=default
	+colors(#eee, #111)

=muted
	+colors($alpha-lightgrey, white)

=primary
	+colors($blue, white)

=secondary
	+colors($darkgrey, white)

.default
	+default

.muted
	+muted

.primary
	+primary

.secondary
	+secondary

body
	+default

.btn
	+primary
	padding: .5rem

.muted .btn
	+default

.secondary .btn
	+secondary

h2
	margin-bottom: 1rem
	padding-bottom: .2rem
	border-bottom: 2px solid $darkgrey

h3
	&::after
		content: ''
		display: block
		width: 100px
		height: 2px
		margin-right: 100%
		border: 50px solid lighten($darkgrey, 25%)
		border-top: 0
		border-bottom: 0
		border-left-color: $darkgrey

hr
	border: 0
	border-bottom: 2px solid $darkgrey

.scroll-arrow
	width: 40px
	height: 40px
	position: absolute
	bottom: 25px
	left: 50%
	transform: translateX(-50%)
	background-image: url("../img/assets/arrow.png")
	background-position: 0 0
	+scrollArrow(3s)

.card
	margin: .5rem
	padding: .5rem
	border-radius: 1px
	> footer
		border-top: 1px solid white

a
	color: $blue

.navbar
	h1
		font-size: 2rem
		margin-bottom: 0
	a, span
		margin: .5rem
	.burger
		margin-right: 1rem

=brackets
	border-style: solid
	border-image: url('../img/assets/brackets.png') 0 48 fill stretch
.large-brackets
	+brackets
	border-width: 10px 48px
.medium-brackets
	+brackets
	border-width: 0px 24px
.small-brackets
	+brackets
	border-width: 0px 12px

.lightgreybar
	+bar($darkgrey, $lightgrey)
.greybar
	+bar($darkgrey, $grey)
.darkgreybar
	+bar(white, $darkgrey)
.blackbar
	+bar(white, $black)
.bluebar
	+bar(white, $blue)

=mountains-background
	+background-cover("../img/background/mountains1.jpg")
	background-color: $darkgrey
	color: white
=white-background
	+background-pattern("../img/background/white-background.png")
	background-color: $background-color
=grey-background
	+background-pattern("../img/background/grey-background.png")
	background-color: $darkgrey
	color: white
=darkgrey-background
	+background-pattern("../img/background/darkgrey-background.png")
	background-color: $darkgrey
	color: white

body > header > .parallax
	height: 100vh
	.parallax-background
		+mountains-background

.mountains-background
	+mountains-background
	& + .parallax-content
		color: white
