@import theme

.example-content
	background-color: rgba($blue, .1)
	background-image: linear-gradient(45deg, rgba($blue, .1), transparent)
	border: 2px solid rgba($blue, .2)
	min-height: 10rem

=example-circle($color, $diameter)
	display: inline-block
	width: $diameter
	height: $diameter
	border-radius: 50%
	background-color: $color

.example-black
	+example-circle($black, 5rem)

.example-darkgrey
	+example-circle($darkgrey, 5rem)

.example-midgrey
	+example-circle($midgrey, 5rem)

.example-grey
	+example-circle($grey, 5rem)

.example-lightgrey
	+example-circle($lightgrey, 5rem)

.example-silver
	+example-circle($silver, 5rem)

.example-aluminum
	+example-circle($aluminum, 5rem)

.example-blue
	+example-circle($blue, 5rem)

.example-gold
	+example-circle($gold, 5rem)

.example-aqua
	+example-circle($aqua, 5rem)

.example-purple
	+example-circle($purple, 5rem)

=example-block($width)
	display: inline-block
	width: $width
	height: $width
	text-align: center
	line-height: $width

.example-block
	+example-block(5rem)

.toggler-1.active, .toggler-3.active
	color: blue
	font-size: 1.5rem

.toggler-2
	transition: font-size 0.5s
	background-color: teal
	color: white
	height: 0
	visibility: hidden
	&.active
		height: auto
		visibility: visible
		position: fixed
		top: 0
		bottom: 0
		left: 0
		right: 0
		z-index: 1000
		font-size: 3rem
		::root
			overflow: hidden

.toggler-4 .active
		background-color: rgba($blue, .1)

#slider-control
	ul
		list-style: none
		margin: 0
		padding-left: 0
		button
			width: 100%

.elements3d .parallax
	min-height: 10rem
	box-shadow: 3px 3px 8px 1px rgba(0,0,0,0.2)

body > footer
	+mountains-background
	+background-fixed
	user-select: none
	background-position: center bottom
	padding-top: 1rem
	ul
		+list-triangle(white)
	a
		color: white
