.nootstrap-debug
	.container, .container-fluid
		background-color: rgba(orange, 0.2)
		border: 1px solid rgba(orange, 0.25)
	.row
		background-color: rgba(lime, 0.2)
		border: 1px solid rgba(lime, 0.25)
	[class*="col-"]
		background-color: rgba(blue, 0.2)
		border: 1px solid rgba(blue, 0.25)
