=select($mode)
	-webkit-user-select: $mode
	-moz-user-select: $mode
	-ms-user-select: $mode
	-o-user-select: $mode
	user-select: $mode

=filter($filter)
	-webkit-filter: $filter
	-moz-filter: $filter
	-ms-filter: $filter
    -o-filter: $filter
	filter: $filter

=background-size($size)
	-webkit-background-size: $size
	-moz-background-size: $size
	-o-background-size: $size
	background-size: $size

=box-sizing($type)
	-webkit-box-sizing: $type
	box-sizing: $type
