.parallax
	position: relative
	overflow: hidden
	min-height: 10rem
	.parallax-background, .parallax-content
		position: absolute
		width: 100%
		height: 100%
		background-clip: border-box
	.parallax-background
		z-index: -1
		height: 100vh
