$container: '.container, .container-fluid'
$col: '.col, [class*="col-"]'

=col_width($width)
	flex-basis: ($width / 12) * 100%
	max-width: ($width / 12) * 100%

=col_type_width($type)
	@for $width from 1 through 12
		.col-#{$type}-#{$width}
			+col_width($width)

.container
	width: 100%
	margin-left: auto
	margin-right: auto

.row
	display: flex
	flex-direction: row
	flex-wrap: wrap
	align-content: flex-start

.col
	display: inline-flex

#{$col}
	width: 100%

@for $width from 1 through 12
	.col-#{$width}, .col-xs-#{$width}
		+col_width($width)

@each $name, $value in $breakpoints
	@media (min-width: $value)
		.container
			max-width: $value
		+col_type_width($name)

#{$container}
	&:not(.no-gutters)
		padding-left: 1rem
		padding-right: 1rem
		> .row:not(.no-gutters)
			margin-left: -1rem
			margin-right: -1rem
			> .col, > [class*="col-"]
				&:not(.no-gutters)
					padding-left: 1rem
					padding-right: 1rem
